/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


body {
  /* background: linear-gradient(50deg, rgb(169, 214, 238), white 50% 50%); */
  height: 70vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
.container {
  margin-top: 5%;
}

.car {
  margin-bottom: 10px;
}
.yes{
    border-radius: 60px;
    background: cadetblue;
    /* border: solid; */
  
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

/* .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
} */

/* reviews */

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
